{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class = "col-lg-6 col-md-8 col-sm-10">
      <table class = "table">
        {% for person in ranking %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ person }}</th>
            <th>{{ person.score }}</th>
          </tr>
        {% endfor %}
      </table>
    </div>

{% endblock %}

{% block shortnote %}
<p align = "left"><strong>
This is a leaderboard application that let's you assign scores to the participants you create.
You can enter a participant details once you login.
If you are not registered, please register to add participants and sores.</strong></p>
{% endblock %}
